<main class="main">
	<div class="main-container">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="main-item">
						<img src="{{'assets/img/slide/smart-fen.jpeg'|theme}}" width="350" alt="Товар">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="main-item">
						<img src="{{'assets/img/slide/smart-tv.jpg'|theme}}" width="350"alt="Товар">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="main-item">
						<img src="{{'assets/img/slide/xiomi.jpg'|theme}}" width="350" alt="Товар">
					</div>
				</div>
				<div class="swiper-slide">
					<div class="main-item">
						<img src="{{'assets/img/slide/smart.jpg'|theme}}" width="350"alt="Товар">
					</div>
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
		<div class="main-wrapper">
			<div class="main-banner">
				<img src="{{'assets/img/banner-1.jpg'|theme}}" alt="Банер">
			</div>
			<div class="main-banner">
				<img src="{{'assets/img/banner-2.jpg'|theme}}" alt="Банер">
			</div>
			<div class="main-banner">
				<img src="{{'assets/img/banner-3.jpg'|theme}}" alt="Банер">
			</div>
		</div>
	</div>
</main>