.section-title {
  color: var(--color-shark);
  line-height: var(--line-height-normal);
  margin-top: 0;
  font-weight: 700;
  font-family: var(--font-family-quicksand);
  margin-bottom: 15px;

  &_center {
    font-size: var(--font-size-20);
    text-align: center;
    margin-bottom: 25px;
  }

  @media (width > 768px) {
    font-size: var(--font-size-28);
    margin-bottom: 40px;

    &_center {
      font-size: var(--font-size-40);
      margin-bottom: 70px;
    }
  }
}
