{% set arProductList = ProductList.make().active().sort('popularity|desc').take(this.theme.index_popularity_products|default(4)) %}
{% if arProductList is not empty %}
    <section class="product-slider">
        <h2 class="section-title product-slider__title section-title_center">Popular Products</h2>
        <div class="product-slider__container swiper-container">
            <ul class="product-slider__wrapper swiper-wrapper">
                {% for obProduct in arProductList %}
                    <li class="product-slider__item swiper-slide">
                       {% partial 'product/product-card/product-card' obProduct=obProduct %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="product-slider__pagination-wrap">
            <button class="product-slider__button product-slider__button_prev"></button>
            <div class="product-slider__pagination"></div>
            <button class="product-slider__button product-slider__button_next"></button>
        </div>
    </section>
{% endif %}
