<nav class="footer-nav">
    <ul class="footer-nav__list">
        {% for arItem in FooterMenu.menuItems if not arItem.viewBag.isHidden %}
            <li class="footer-nav__item">
                <b class="footer-nav__item-title">{{ arItem.title }}</b>
                <ul class="footer-nav__subnav">
                    {% for arSubItems in arItem.items %}
                        <li class="footer-nav__subitem">
                            <a href="{{ arSubItems.url }}" class="footer-nav__link">{{ arSubItems.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        {% if this.theme.payment_methods_list is not empty %}
            <li class="footer-nav__item">
                <b class="footer-nav__item-title">Payment Methods</b>
                <ul class="footer-nav__subnav">
                    {% for arPaymentMethod in this.theme.payment_methods_list %}
                        <li class="footer-nav__subitem">
                            {% if arPaymentMethod.url is not empty %}
                                <a href="{{ arPaymentMethod.url }}" class="footer-nav__link footer-nav__link_with-icon">
                                    <img src="{{ arPaymentMethod.image|media }}" class="footer-nav__link-icon" title="{{ arPaymentMethod.title }}" alt="{{ arPaymentMethod.alt }}">
                                </a>
                            {% else %}
                                <img src="{{ arPaymentMethod.image|media }}" class="footer-nav__link-icon" title="{{ arPaymentMethod.title }}" alt="{{ arPaymentMethod.alt }}">
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>
